<%- include('layouts/header'); -%>
<body>
    <header>
        <h1>Alfredo Lozano / 5397591</h1>
    </header>

    <%- include('layouts/nav'); -%>

    <section class="shopFormSect">
    
      <h2>Welcome To My Book Store</h2>
      <section class="formSect">
        <form name="shopform" method="Post" onsubmit=""  action="" >
          <section class="purchaseInfoSect">
          
            <div class="fieldWrapper1">
                <div class="labelWrapper">
                    <label for="name">Name*:</label> 
                </div>
                <input id="name" placeholder="First Last" type="text" name="name"><br/>
            </div>

            <div class="fieldWrapper1">
              <div class="labelWrapper"> 
                  <label>Student Number*:</label> 
              </div>
              <input id="sNumber" placeholder="1234567" name="sNumber"><br/>
            </div>

          </section>

         <div class="productSect">
            <div class="fieldWrapper1">
                <label>HTML5 ($62.99 each): </label>
                <input id="html5" name="html5" min="0" max="20" value="0">
            </div>
            
            <div class="fieldWrapper1">
                <label>CSS3 ($51.99 each):</label>
                
                <input id="css3" name="css3" min="0" max="20" value="0">
            </div>
            
            <div class="fieldWrapper1">
                <label>Pen ($2.99 each):</label>
                <input id="pens" name="pens" min="0" max="20" value="0">
            </div>

         </div>
         <input type="submit" value="Place Order">
       </form>  
      </section>

    

    <!-- ERROR AREA, only shown if errors exist -->
      <%
        if(typeof(errors) != 'undefined'){
          %>
            <%- include('errorbox'); -%>
          <%
        }
      %>

      <%
        if(typeof(error2) != 'undefined'){
          %>
            <%- include('errorbox'); -%>
          <%
        }
      %>

    <!-- END OF ERROR AREA, only shown if errors exist -->

    <!-- receipt area : only show receipt if purchase successful-->

    <%
      if(typeof(subTotal) != 'undefined'){
        %>
          <%- include('receipt'); -%>
        <%
      }
    %>
  
    <!-- END OF receipt area -->

    </section>

   <div class="clear"></div>

   <%- include('layouts/footer'); -%>

</body>